/* ==================================================
   Add your own style here. This file will overide properties described in any other css file.
================================================== */

.login {
    height: 350px !important; 
    width: 50% !important;
    margin-top: 100px !important;
}
.btnhome {
    width:40px!important;
    height:40px!important;
    position:relative!important;
    top:2px!important;
}
.btnevent {
    position: relative!important;
    margin-left:50px!important;
}

.btneventmain {
    font-size:14px!important;
}
.nivoslider {
    max-height: 500px!important;
}

.btnhome i {
    font-size:30px!important;
    position:relative!important;
    right:16px!important;
    top:5px!important;
}
.actionright {
    text-align: right!important;
}
@media (max-width: 1000px) {
    .login {
        width: 100% !important;
    }
    .btnhome i{
        position: absolute!important;
        bottom: 20px!important;
        left: 7px!important;
    }
}