{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

             
<div class="login container d-flex justify-content-center">
    <div class="col-sm-12 my-auto text-center">
        <h1 class="display-4 loginformtitle">Formulaire de connexion pour l'équipe associative</h1>
        <div class="info-form loginform">
            <form method="POST" class="">
                {% csrf_token %}
                 <div class="form-group">
                    {{ form|crispy }}
                </div>
                <button type="submit" class="btn btn-primary ">Connexion !</button>
            </form>
        </div>
        <br>
    </div>
</div>
                        
                    
        
{% endblock content %}