{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
          <section id="cover">
                <div id="cover-caption">
                    <div id="container" class="container">
                        <div class="row text-white">
                            <div class="col-sm-6 offset-sm-3 text-center">
                                <h1 class="display-4">Formulaire de connexion pour la gestion</h1>
                                <div class="info-form">
                                    <form method="POST" class="form-inlin justify-content-center">
                                            {% csrf_token %}
                                        <div class="form-group">
                                                {{ form|crispy }}
                                            </div>
                                        <button type="submit" class="btn btn-success ">Connexion !</button>
                                    </form>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock content %}