{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="nav-backed-header postnav parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="{% url 'blog-home' %}">Accueil</a></li>
          <li><a href="{% url 'blog-saved_posts' %}">Publication</a></li>
          <li class="active">{{ post.title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="page-header posttitle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Publication</h1>
        {% if user.is_authenticated %}
        <div>
          <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Mettre à jour</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Supprimer</a>
        </div>
        {% endif %}
      </div>
      <div class="col-md-8 col-sm-8">
        <!-- Texte en italique -->
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main postbody" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="single-post-header clearfix">
            <h2 class="post-title">{{ object.title }}</h2>
          </header>
          <article class="post-content"> <span class="post-meta meta-data"><span><i class="fa fa-calendar"></i>
                {{ object.date_posted|date:"d F, Y" }}</span></span>
            <div class="featured-image"> <img src="{{object.image.url }}" alt=""> </div>
            <p>{{ object.content }}</p>
            <blockquote>
              {% if object.link != 'http://salut.com' %}
              <a href='{{ object.link }}'>Lire l'article ici !</a></blockquote>
            {% endif %}
          </article>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}